/ffmpeg.exe
/gifski.exe
/utils/osu/fnt.otf
/utils/OPPOSans-M.ttf
*.otf
*.ttf
/utils/temp/
/utils/make_gif/
/utils/extracted_gif/
/__pycache__/
/*/__pycache__/
/utils/osu/cache*/
/utils/emoji/
/utils/pyxyv/
/utils/bilibili/
!/files/dialogs/sample.json
!/files/dialogs/picture/sample.jpg
!/files/dialogs/voice/roll.mp3
/files/
!/.gitignore